#div1{
    width: 400px;
    border: 1px solid blue;
    float: left;
    margin-left: 50px;
}

#div2{
    width: 600px;
    border: 1px solid red;
    float : right;
    margin-left: 50px;

}

#div3{
    border: 3px solid purple;
    clear: both;

}